.header-wrapper{
    display: flex;
    justify-content: space-evenly;
    height: 90px;
    background: black;
    color: white;
    align-items: center;

}
.images-wrapper{
    margin: 0 auto;
    width: 400px;
}
.img-css{
    width: 100%;
}